@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

:root {
    --grayDark: #3A3B3C;
    --marbleBlue: #566D7E;
    --turtleGreen: #438D80;
    --creamWhite: #FFFDD0;
    --chromeGold: #FFCE44;
    --puceDark: #7F5A58;
}

body {
    background-color: var(--creamWhite);
    font-family: 'DynaPuff', cursive;
    background-image: url(../public/background-gym.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.foothr {
    width: 100%;
    border: 2px solid white;
}
.blur{
    background-color: rgb(102, 24, 24);
    position: absolute;
    border-radius: 50%;
    filter: blur(200px);
    z-index: -9;
    height: 20rem;
    width: 15rem;
}